@model TestTylerProject.Models.Character

@{
    ViewData["Title"] = "API Character";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Culture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Culture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Born)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Born)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Died)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Died)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Father)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Father)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mother)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mother)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spouse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spouse)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
