@model IEnumerable<TestTylerProject.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Culture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Born)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Died)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Father)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mother)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Culture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Born)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Died)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Father)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mother)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spouse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
